# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Frontend-Inventories
Frontend-Inventories/dist
Frontend-Inventories/tmp
Frontend-Inventories/out-tsc
Frontend-Inventories/bazel-out
Frontend-Inventories/node_modules
Frontend-Inventories/npm-debug.log
Frontend-Inventories/yarn-error.log

# Angular cache
Frontend-Inventories/.angular/cache
Frontend-Inventories/.sass-cache

# Miscellaneous
Frontend-Inventories/connect.lock
Frontend-Inventories/coverage
Frontend-Inventories/libpeerconnection.log
Frontend-Inventories/testem.log
Frontend-Inventories/typings

# Backend (Inventarios)
Inventarios/target
Inventarios/.mvn/wrapper/maven-wrapper.jar
Inventarios/HELP.md

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

### STS ###
Inventarios/.apt_generated
Inventarios/.classpath
Inventarios/.factorypath
Inventarios/.project
Inventarios/.settings
Inventarios/.springBeans
Inventarios/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
Inventarios/nbproject/private
Inventarios/nbbuild
Inventarios/dist
Inventarios/nbdist
Inventarios/.nb-gradle
Inventarios/build
!Inventarios/**/src/main/**/build
!Inventarios/**/src/test/**/build
